form.signup,
form.login {
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 175px;
}

#anchor {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 15px;
  border: solid 1px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 1 1 1;
  transition: box-shadow 1s;
  font-weight: bold;
}

.btn {
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom-select {
  width: 140px;
}

#button {
  width: 100%;
  text-align: center;

}

#dropdown-item {
  width: 100%;
}

.artist-name {
  position: relative;
  bottom: 30px;
}

.artist-genre, .artist-instrument {
  width: 140px !important;
  position: relative;
  bottom: 30px;
}

canvas {
  z-index: -1;
}

.drpSignUp{
  width: 49%;
}

#loginFoot {
  color: red;
}

#musimember {
  text-align: right;
  font-weight: bolder;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: xx-large;
  text-shadow: rgb(173, 173, 173);
}

#margin-bottom {
  margin-bottom: 80px !important;
}