form.signup,
form.login {
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 175px;
}

.btn {
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom-select {
  width: 140px;
}

#button {
  width: 100%;
  text-align: center;

}

#dropdown-item {
  width: 100%;
}

.artist-name {
  position: relative;
  bottom: 30px;
}

.artist-genre, .artist-instrument {
  width: 140px !important;
  position: relative;
  bottom: 30px;
}

canvas {
  z-index: -1;
}